nav ul {
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  width: 100%;
  padding: 20px 40px;
}

.navbar-brand, .nav-link {
  color: #000000;
}

.navbar-logo {
  max-height: 80px;
  margin-left: 10px;
}

.navbar-nav {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-nav .nav-item a:hover {
  font-size: 40px;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler-icon {
  filter: invert(1);
}

.carousel-inner {
  height: 100%;
}

.carousel-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.carousel-control-prev, .carousel-control-next {
  background-color: rgba(0, 0, 0, 0.5019607843);
  border: none;
  padding: 10px;
  cursor: pointer;
}

.calzados {
  text-align: center;
  padding: 20px;
}

.productos-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.producto {
  flex: 0 1 calc(25% - 20px);
  box-sizing: border-box;
  text-align: center;
  margin: 10px;
}
.producto img {
  max-width: 100%;
  height: auto;
}
.producto img p {
  margin-top: 10px;
  font-size: 15px;
}

.contacto {
  text-align: center;
  padding: 20px;
  margin: 0 auto;
  max-width: 800px;
  flex-grow: 1;
}
.contacto h2 {
  margin-bottom: 20px;
}
.contacto h2 p {
  margin-bottom: 10px;
  font-size: 18px;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: rgba(0, 0, 0, 0.4666666667);
  flex-shrink: 0;
  bottom: 0;
}
footer nav {
  flex-grow: 1;
}
footer nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}
footer nav ul li {
  margin: 0 20px;
}
footer nav ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
}

@media (max-width: 1024px) {
  .navbar-nav {
    flex-direction: column;
    align-items: center;
  }
  .navbar-nav nav-item {
    margin: 10px 0;
  }
  header img {
    max-height: 60px;
  }
  .contacto {
    text-align: center;
    padding: 20px;
    margin: auto;
    max-width: 800px;
    flex-grow: 1;
  }
  .contacto p {
    margin-bottom: 10px;
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  header, footer {
    flex-direction: column;
    align-items: center;
  }
  header img {
    max-height: 60px;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .menu {
    flex-direction: column;
  }
  .menu li {
    margin: 10px 0;
  }
  .productos-grid {
    flex-direction: row;
    justify-content: center;
  }
  .producto {
    flex: 0 1 calc(50% - 20px);
  }
  .calzados img {
    max-width: 100%;
  }
  .carrusel {
    display: none;
  }
  .contacto {
    text-align: center;
    padding: 20px;
    margin: auto;
    max-width: 800px;
    flex-grow: 1;
  }
  .contacto p {
    margin-bottom: 10px;
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .calzados img {
    max-width: 90%;
  }
  .producto {
    flex: 0 1 calc(100% - 20px);
  }
  .contacto {
    text-align: center;
    padding: 20px;
    margin: auto;
    max-width: 800px;
    flex-grow: 1;
  }
  .contacto p {
    margin-bottom: 10px;
    font-size: 20px;
  }
}

/*# sourceMappingURL=main.css.map */
