.contacto {
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
    flex-grow: 1;
    h2 {
        margin-bottom: 20px;
        p {
            margin-bottom: 10px;
            font-size: 26px;
        }
    }
}